<script src="https://kit.fontawesome.com/709f975536.js" crossorigin="anonymous"></script>
<header>
  <nav>
    <ul>
      <li>
        <a href="/"><p>Home</p></a>
      </li>
      <img height="150px" src="https://upload.wikimedia.org/wikipedia/pt/d/dd/My_Little_Pony_G4_logo.png" alt="My_Little_Pony_Friendship" />
      <li>
        <a href="/cadastrar"><p>Cadastrar</p></a>
      </li>
    </ul>
  </nav>
</header>
