<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Cadastro</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section id="conteiner_cadastro">
        <form id="cadastro" method="post" action="/cadastrar">
          <fieldset>
            <legend>Cadastro de personagem</legend>

            <label for="imagem">Imagem</label>
            <input type="url" name="imagem" required />

            <label for="nome">Nome</label>
            <input type="text" name="nome" required />

            <label for="especie">Espécie</label>
            <input type="text" name="especie" required />

            <label for="habilidades">Habilidades</label>
            <input type="text" name="habilidades" required />

            <label for="personalidade">Personalidade</label>
            <input type="text" name="personalidade" required />
            <div id="button">
              <button type="submit">Cadastrar</button>
            </div>
          </fieldset>
        </form>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %> <% if(toggle) { %>
    <script>
      Swal.fire({
        icon: "success",
        title: "Personagem cadastrado com sucesso",
        showConfirmButton: false,
        timer: 3000,
      });
      setInterval(() => {
        window.location.href = "/";
      }, 3000);
    </script>
    <% } %>
  </body>
</html>
