* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "MyLittlePony";
  src: url(../fonts/PONY_MLP2_VersionDefinitiva6_Kustren.ttf);
}
body {
  font-family: "MyLittlePony";
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #791371;
  text-shadow: 0 0 5px white;
}
footer a {
  text-decoration: none;
  color: #ea2980;
  text-shadow: 0 0 5px black;
}
a:hover {
  transform: scale(1.05);
}
li a:hover {
  transform: scale(1.05);
}
header {
  height: 20%;
  display: flex;
  align-items: center;
  background-image: url("https://img.elo7.com.br/product/zoom/1B21751/painel-my-little-pony-2-5x1-5m-my-little-pony.jpg");
  background-size: cover;
  background-position: center;
  font-size: xx-large;
}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}
header ul img {
  padding-top: 25px;
}
@media (max-width: 520px) {
  header ul img {
    display: none;
  }
}
main {
  min-height: 70%;
  background-color: #ea2980;
}
section#conteiners {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.cardsHome {
  height: 80%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #791371;
  text-shadow: 0 0 5px white;
}
.imagemHome:hover {
  transform: scale(1.05);
}
section#detalhes {
  height: 70%;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #791371;
  text-shadow: 0 0 5px white;
}
table#infoDetalhes {
  width: 30%;
}
td {
  width: 100%;
}
td.info {
  text-align: center;
}
#delEdit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: x-large;
}
section#conteiner_cadastro {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form#cadastro {
  width: 100%;
  display: flex;
  justify-content: center;
}
legend {
  padding-bottom: 16px;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 30%;
  border: none;
}
button {
  width: 50%;
  color: #ea2980;
  background-color: #791371;
  border: 3px solid white;
  font-size: large;
  font-weight: bold;
}
button:hover {
  transform: scale(1.05);
}
div#button {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height: 10%;
  background-color: #791371;
  display: flex;
  align-items: center;
  justify-content: center;
}
